#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
}

.App {
  display: flex;
}

.OrderDetails {
  margin: 0 40px 0 0;
  border: 1px solid white;
  width: 400px;
  border-radius: 15px;
  padding: 10px;
}

.Details {
  display: flex;
  flex-direction: column;
}

.Items {
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
}

.Item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 1px solid white;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
}

.ItemName {
  width: 111px;
}

.ItemQuantity {
  margin-left: 20px;
}

.ItemTotal {
  margin-left: 50px;
}

.RemoveBtn {
  margin-left: auto;
}

.TotalSum {
  margin-top: auto;
}

.AddItems {
  width: 450px;
  padding: 10px 10px 20px 10px;
  border: 1px solid white;
  border-radius: 15px;
}

.AddItems button {
  width: 300px;
  color: black;
  padding: 25px 40px 25px 80px;
  margin: 10px auto;
  display: block;
}

.AddItems .hamburger {
  background: white url("./assets/eat.png") no-repeat center left 20px;
}

.AddItems .cheeseburger {
  background: white url("./assets/eat.png") no-repeat center left 20px;
}

.AddItems .fries {
  background: white url("./assets/eat.png") no-repeat center left 20px;
}

.AddItems .coffee {
  background: white url("./assets/cup.png") no-repeat center left 20px;
}

.AddItems .tea {
  background: white url("./assets/cup.png") no-repeat center left 20px;
}

.AddItems .cola {
  background: white url("./assets/cup.png") no-repeat center left 20px;
}